.hero__container {
  max-width: 800px;
}
.units {
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}
.units_container {
  width: 100%;
}
.rubrics__container {
  max-width: 800px;
  flex-direction: row;
  column-gap: 30px;
}
.footer__container {
  max-width: 800px;
}
