:root {
  --color-primary: #6c63ff;
  --color-secondary: #2f27ae;
  --half-black: #2b2b2b;
  --white-smoke: #f5f5f5;
  --half-gray: #c4c4c4;
  --white-all: #ffffff;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  font-family: "Source Sans Pro", sans-serif;
  color: var(--half-black);
}
.hero {
  width: 100%;
  height: 320px;
  min-width: 320px;
  background-color: var(--color-primary);
  position: relative;
  display: flex;
  justify-content: center;
}
.hero__container {
  width: 80%;
  align-self: center;
  display: flex;
  flex-direction: column;
}
.hero__texts {
  text-align: center;
}
.hero__tag {
  display: inline-block;
  background-color: var(--color-secondary);
  color: var(--white-all);
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 1.4rem;
  font-weight: 400;
}
.hero__title {
  color: white;
  font-size: 2.4rem;
  font-weight: 700;
}
.button {
  background-color: var(--white-smoke);
  display: inline-flex;
  justify-content: space-evenly;
  width: 120px;
  height: 30px;
  font-size: 1.4rem;
  line-height: 3rem;
  border-radius: 15px;
  position: absolute;
  bottom: -15px;
  left: calc(50% - 50px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: var(--half-black);
}
.button__text {
  font-weight: 600;
}
.hero__image {
  display: block;
  width: 250px;
  margin: 10px auto 0 auto;
}
.main {
  width: 100%;
  min-width: 320px;
  display: flex;
  justify-content: center;
}
.section {
  width: 80%;
  align-self: center;
}
.section__title {
  margin-top: 50px;
  text-align: center;
  font-size: 2rem;
}
.units_container {
  width: 100%;
  margin-top: 20px;
}
.unit {
  display: flex;
  width: 100%;
  height: 30px;
  background-color: var(--color-secondary);
  line-height: 3rem;
  color: var(--white-all);
  justify-content: space-between;
  padding: 0 20px;
  border-radius: 5px;
  font-size: 1.4rem;
  cursor: pointer;
}
.lessons {
  width: 100%;
  margin: 2px 0;
  display: none;
}
.lessons__container {
  width: 100%;
  height: 30px;
  background-color: var(--color-primary);
  font-size: 1.4rem;
  display: inline-flex;
  justify-content: space-between;
  padding: 0 20px;
  line-height: 3rem;
  border-radius: 5px;
  color: var(--white-all);
  margin-bottom: 2px;
}
.lessons__title {
  font-weight: 400;
}
.links__pdf,
.links__play {
  text-decoration: none;
  color: var(--color-secondary);
}
.rubrics__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}
.rubrics__title {
  margin-top: 40px;
  font-size: 2rem;
  text-align: center;
}
.rubrics__body {
  width: 100%;
  height: 30px;
  display: inline-flex;
  justify-content: space-between;
  background-color: var(--white-smoke);
  color: var(--half-black);
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 3rem;
  padding: 0 20px;
  border-radius: 5px;
}
.rubrics__text {
  font-weight: 600;
}
.rubrics__icon {
  color: var(--color-secondary);
}
.footer {
  width: 100%;
  min-width: 320px;
  height: 60px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  background-color: #070518;
}
.footer__container {
  width: 80%;
  align-self: center;
  display: flex;
}
.developer {
  width: 70%;
  font-size: 1.2rem;
  color: #c4c4c4;
}
.developer__copy {
  display: block;
  color: var(--color-primary);
}
.brand {
  width: 30%;
  color: var(--color-primary);
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
.active {
  display: block;
}
.activo {
  transform: rotate(180deg);
}
